*.iml
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml

results
premake
build

*.swp
*.so
*.pyc
*.pyd
*.exp
*.lib
*.ini
config/*.py
*.txt
datasets/*sqlite*
datasets/dev_mappings_*.py
test.py
Thumbs.db

console/*.xrc

Makefile
*.make
